/*

 FOOTER

*/

.footer__list-item h2 {
    cursor: default;
}

footer {
    width: 100vw;
    background-color: #3e4555;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f5f5f5;
    padding: 80px 0;
}

.footer-logo {
    width: 100%;
    max-width: 150px;
    cursor: default;
}

.footer__para {
    cursor: default;
}

.footer__list--wrapper {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.footer__list {
    margin: 0 auto;
    padding: 24px 40px 16px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__list-item--blog {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__list-item--blog-link {
    margin-bottom: 4px;
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 300;
    cursor: no-drop;
    transition: all 300ms ease;
}

.footer__list-item--blog-link:hover {
    color: #6e42c1c9;
}

.footer__small-text {
    color: #ffffffb3;
}

.footer__list-item {
    letter-spacing: 0.35px;
    list-style-type: none;
    font-size: 16px;
    font-weight: 300;
    cursor: no-drop;
    margin-bottom: 12px;
    letter-spacing: 0.1px;
}

.footer__list-item--main {
    letter-spacing: -0.1px;
    margin-bottom: 16px;
    letter-spacing: -0.2px;
}

.footer__list-item--gen-link {
    transition: all 300ms ease;
}

.footer__list-item--gen-link:hover {
    color: #6e42c1c9;
    transform: translate(16px, 1px);
}

.footer__para {
    width: 100%;
    max-width: 230px;
    margin-bottom: 16px;
    font-weight: 300;
}

.footer__social-links {
    display: flex;
}

.footer__social-link {
    position: relative;
    margin-right: 24px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #ffffff79;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social-link--facebook {
    background-color: transparent;
    transition: all 300ms ease;
    z-index: 500;
}

.footer__social-link--twitter {
    background-color: transparent;
    transition: all 300ms ease;
}

.footer__social-link--instagram {
    background-color: transparent;
    transition: all 300ms ease;
}

.footer__social-link--rss {
    background-color: transparent;
    transition: all 300ms ease;
}

.footer__social-link--facebook:hover {
    background-color: #1877f2;
}

.footer__social-link--twitter:hover {
    background-color: #26a7de;
}

.footer__social-link--instagram:hover {
    background-color: #fbad50;
}

.footer__social-link--rss:hover {
    background-color: #f26522;
}
