.fa-magnifying-glass {
  color: #f5f5f5;
  transition: all 350ms ease-in-out;
  font-weight: 800;
}

.fa-magnifying-glass:hover {
  transform: scale(1.35);
  color: lightgray;
}

.vanish-magnifying-glass {
  visibility: hidden !important;
  color: #f5f5f5;
}

.movies-render-box p {
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centers everything vertically */
  height: 100vh; /* Full viewport height */
}

.lock-art,
.box {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.lock-art {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Pushes content downward */
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Pushes content upward */
}