.fa-magnifying-glass {
  color: #f5f5f5;
  transition: all 350ms ease-in-out;
  font-weight: 800;
}

.fa-magnifying-glass:hover {
  transform: scale(1.35);
  color: lightgray;
}

.vanish-magnifying-glass {
  visibility: hidden !important;
  color: #f5f5f5;
}

.movies-render-box p {
  color: #333;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.lock-art,
.box {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lock-art {
  justify-content: flex-end;
}

.box {
  justify-content: flex-start;
}

input[type="submit"]:hover {
  background-color: gray;
  transition: all 250ms ease-in-out;
}